{% extends 'base.html.twig' %}

{% block titrePage %}	<!-- TITRE -->

<h2> Stage numéro {{ idStage }} </h2>

{% endblock %}


{% block contenuPage %}	<!-- CONTENU PAGE -->

	<div class="row">

		<!-- Offre stage -->
		<div class="col-md-8 col-sm-12"> 

			Formations <br>

			Description <br> <br>

			lorem ipsum etc

		</div>

		<!-- Info entreprise -->
		<div class="col-md-4 col-sm-12"> 

			Entreprise <br>
			nom <br>
			Adresse <br>

		</div>
	</div>


{% endblock %}