{% extends 'base.html.twig' %}



{% block titrePage %}	<!-- TITRE -->

<h1> Liste de stages </h1>

{% endblock %}



{% block lienBouton %} 	<!-- LIEN BOUTON -->

<a href="filtrer" 

{% endblock %}


{% block labelBouton %}	<!-- LABEL BOUTON -->

Filtrer

{% endblock %}


{% block contenuPage %}	<!-- CONTENU PAGE -->

<table class="table">	<!-- Tableau des stages -->
	<thead>
		<tr>
			<th scope="col">Titre</th>
	      	<th scope="col">Nom entreprise</th>
	      	<th scope="col">Activité</th>
	      	<th scope="col">Adresse</th>
	      	<th scope="col">Description</th>
	      	<th scope="col">Formations</th>
	      	<th scope="col">Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for user in 1..7 %}
		        <td> <a href="/stage1"> 1 </a></td>
		    {% endfor %}
    	</tr>
	</tbody>
</table>

{% endblock %}
