<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <h1> ----- HEADER ------</h1>
        {% endblock %}
        {% block boutonFiltrer %}
        <h1> ----- BOUTON FILTRER -----</h1>
        {% endblock %}
        {% block contenu %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
